/* Styles for the profile picture container */
.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-basis: 33.33%; /* Ensure it takes 1/3rd of the space */
  }
  
  /* Styles for the profile picture image */
  .profile-picture img {
    width: 250px; /* Increase the width */
    height: 250px; /* Increase the height */
    border-radius: 50%;
  }
  