/* Styles for the main App component */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* Styles for the main content area */
.main-content {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
  flex-grow: 1;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
